body {
  margin-left: 40px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  font-variant-caps: all-petite-caps;
}

.menu_modifier {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  align-items: stretch;
  width: 60%;
}

.menu_title {
  font-family: "Roboto", sans-serif;
}

.menu_list {
  font-family: "Roboto", sans-serif;
  font-style: bold;
  background-color: rgba(238, 200, 200, 0.726);
  border-radius: 40%;
}

.menu_item {
  font-family: "Roboto", sans-serif;
  font-variant-caps: all-petite-caps;
  font-size: 30px;
  text-decoration: none;
  color: rgb(75, 75, 75);
}

/* list-style: none; to delete dots in a list*/

.card_modifier {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
}

img {
  width: 20%;
  height: 20%;
  margin-top: 5px;
  margin-bottom: 20px;
}

aside {
  margin-bottom: 80px;
  padding: 10px;
  background-color: rgba(238, 200, 200, 0.726);
  min-height: 500px;
  max-width: 50%;
  box-shadow: 5px 2px 10px rgba(139, 139, 139, 0.521);
  border-radius: 25px;
}

.card_text {
  font-family: "Roboto", sans-serif;
  color: rgb(77, 77, 77);
}

.card_title {
  font-family: "Montserrat", sans-serif;
  font-size: 150%;
}
