body {
  margin: 0%;
}

.boxes {
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
  height: 450px;
  width: 50%;
  font-family: "Roboto", sans-serif;
  font-variant: small-caps;
}

.boxes > .box1 {
  position: absolute;
  padding: 10px;
  top: 25%;
  left: 30%;
  width: 30%;
  height: 30%;
  border: solid;
  color: black;
  background-color: white;
  z-index: 0;
}

.boxes > .box2 {
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 55%;
  width: 20%;
  height: 50%;
  border: solid;
  color: black;
  background-color: white;
  z-index: 1;
}

.boxes > .box3 {
  position: absolute;
  padding: 10px;
  top: 80%;
  left: 25%;
  width: 60%;
  height: 35%;
  border: solid;
  color: black;
  background-color: white;
  z-index: 3;
}

.boxes > .box4 {
  position: absolute;
  padding: 10px;
  left: 85%;
  width: 15%;
  height: 100%;
  border: solid;
  color: black;
  background-color: white;
  z-index: 4;
}
