section {
  display: flex;
  display: block;
  text-decoration: none;
  z-index: 2;
}

.menu {
  display: flex;
  list-style: none;
  padding: center;
  width: 1000px;
  text-align: left;
  background-color: aqua;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  display: block;
  display: flex;
  list-style: none;
  scroll-padding-top: center;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: rgb(37, 37, 37);
  align-self: auto;
}

.background {
  display: block;
  background-position: top;
  background-repeat: no-repeat;
  align-items: center;
  z-index: auto;
}

.button {
  display: block;
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  border: 10px;
  border-color: rgb(44, 44, 44);
  line-height: 2.5;
  padding: 0 20 50;
  font-size: 1rem;
  text-align: center;
  color: rgb(46, 46, 46);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.6),
    inset -1px -1px 2px rgba(0, 0, 0, 0.6);
}

.button:hover {
  display: block;
  display: flex;
  background-color: rgb(182, 160, 176);
  padding-top: 15px, 20px, 15px, 20px;
}

.button:active {
  box-shadow: inset -2px -2px 3px rgba(219, 219, 219, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.tableau {
  border-width: color black 10px;
}

.tableautitle {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-variant-caps: petite-caps;
}

.tableautext {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}
