/* 
Media Queries are the rules you decide to apply for a specific device or range of devices.

There are three differents device type you can target: all, print, screen

*/

/* Only for landscape mobile */

@media screen and (max-width: 850px) and (orientation: landscape) {
  main section:first-of-type {
    background-color: rgb(205, 79, 255);
  }
}

/* Only for portrait mobile */

@media screen and (max-width: 400px) and (orientation: portrait) {
  main section:first-of-type {
    background-color: rgb(212, 255, 56);
  }
}

/* For mobile (Portrait and landscape) */
@media screen and (max-width: 850px) {
  main section:first-of-type {
    color: blueviolet;
  }
}

/**/

@media only screen and (min-width: 850px) {
  main section:first-of-type {
    background-color: rgb(255, 25, 159);
  }
}

body {
  background-color: rgba(170, 255, 255, 0.582);
}

main section:first-of-type {
  background-color: rgb(86, 228, 180);
}
